#tooltip {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: auto;
    padding: 10px;
    background: white;
    font-family: sans-serif;
    font-size: medium;
    border-radius: 2px;
    line-height: 1;
}

path {
    stroke-width: .5px;
    stroke: black
}

path:hover {
    opacity: .6;
    stroke: #00ffff;
    stroke-width: 4px;
    fill:#00ffff;
}
#container{
    display: flex;
    height: 100%;
    justify-content: right;
    align-items: center;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin-top: 10px;
}
#town_area{
    text-align: left;
}
#mass_county{
    text-align: left;
}
#population{
    text-align: left;
}
#population_area{
    text-align: left;
    justify-content: right;
}
#mass_gini{
    text-align: left;
}
#child-inblock1 {
    display: inline-block;
    vertical-align: middle;
    width: 85%;
}
#child-inblock2 {
    display: inline-block;
    vertical-align: top;
    horiz-align: right;
}
.author{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-family: sans-serif;
}
.metadata{
    line-height: 1.6;
    font-size: larger;
}